
$yellow: #fab104;
$red: #e64e0d;
$green: #4baa4b;
$blue: #2196F3;

	
.yellow, yellow{
    color: $yellow !important;
    a{
    	color: $yellow;
    }
}

.red, red{
    color: $red !important;
    a{
    	color: $red;
    }
}

.green, green{
    color: $green !important;
    a{
        color: $green;
    }
}

.blue, blue{
    color: $blue !important;
    a{
    	color: $blue;
    }
}