//================ Font11 ================//
@mixin newFont($fontName) {
	@font-face {
	    src: url('../fonts/$fontName.eot');
	    src: url('../fonts/$fontName.eot') format('embedded-opentype'),
	         url('../fonts/$fontName.woff2') format('woff2'),
	         url('../fonts/$fontName.woff') format('woff'),
	         url('../fonts/$fontName.ttf') format('truetype'),
	         url('../fonts/$fontName.svg#$fontName') format('svg');
	}
}
// mixin// @extend .font11;
@include newFont(DidotLTStd-Roman);
.didot{
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    margin-bottom: 0;
    text-transform: inherit;
    font-weight: 100;
    letter-spacing: 0.5px;
}
$didot: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;


.OpenS{
	font-family: 'Open Sans', Helvetica, sans-serif;
}
.Raleway{
	font-family: "Open Sans", Helvetica, sans-serif;
}

.mono{
	font-family: 'Roboto Mono', monospace, 'Open Sans', Helvetica, sans-serif;
	    -webkit-font-smoothing: antialiased;
}