#wizard{
	// background: #F4F8FB;
	// background: lighten($homeStoryBG, 9%);
	.wizard-head{
		// background: darken($link-color, 3%);
		// background: rgba(0, 0, 0, 0.1);
		padding: 2em;
		// margin-bottom: 2em;
	}
}




.wiz-wrap{
}

#wizard-contain{
	height:100vh;
	background: rgba(0, 0, 0, 0.27);
	@extend .blue-grad;
}

// test
div#wizard {
	z-index: 999;
	width: 100%;
	color: #fff;
	z-index: 999;
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    left: 0;
    padding: 4em;
}
// test


.submit_storey.pull-right.p1em {
    z-index: 99;
    position: relative;
}








.simform {
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 860px;
	width: 100%;
	text-align: left;
	font-size: 2.5em;
}

.simform .submit {
	display: none;
}

/* Question list style */
.simform ol {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    -webkit-transition: height 0.4s;
    transition: height 0.4s;
    position: relative;
    // height: 100vh;
    /* left: 0 !important; */
}

.simform ol:before {
	content: '';
	background-color: rgba(0,0,0,0.1);
    background-color: lighten($dark, 5%);
	position: absolute;
	left: 0;
	// bottom: 0;
	width: 100%;
	height: 1.6em;
	-webkit-transition: height 0.4s ease-in-out;
	transition: height 0.4s ease-in-out;
	margin-top: 8px;
}

.simform ol.textarea-visible:before{
	height: 6.05em;
}

.questions li {
    z-index: 100;
    position: relative;
    visibility: hidden;
    height: 0;
    -webkit-transition: visibility 0s 0.4s, height 0s 0.4s;
    transition: visibility 0s 0.4s, height 0s 0.4s;
    position: absolute;
    width: 100%;
    top: 40%;
}

.questions li.current,
.no-js .questions li {
	visibility: visible;
	height: auto;
	-webkit-transition: none;
	transition: none;
}

/* Labels */
.questions li > span {
	display: block;
	overflow: hidden;
	margin-top: -0.6em;
}

.questions li > span label {
	display: block;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	font-weight: 200;
	font-size: 0.5em;
}

.questions li.current > span label,
.no-js .questions li > span label {
	-webkit-transition: none;
	transition: none;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.show-next .questions li.current > span label {
	-webkit-animation: moveUpFromDown 0.4s both;
	animation: moveUpFromDown 0.4s both;
}

@-webkit-keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

/* Input field */
.questions input, .questions textarea {
    display: block;
    margin: 0.3em 0 0 0;
    padding: 0.5em 1em 0.5em 0.7em;
    width: calc(100% - 2em);
    border: none;
    background: transparent;
    color: $red;
    font-size: 0.8em;
    line-height: 1;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    margin-top: -9px;
}

.questions textarea {
    position: relative;
    height: 7em;
    top: 16px;
    width: 97%;
    color: $green;
    font-size: 17px;
    line-height: 1.5em;
}

.questions .current input,
.questions .current textarea,
.no-js .questions textarea,
.no-js .questions input {
	opacity: 1;
}

.questions input:focus,
.questions textarea:focus,
.simform button:focus {
	outline: none;
}

/* Next question button */
.next {
    position: absolute;
    right: -7px;
    bottom: 2.15em;
    display: block;
    padding: 0;
    width: 2em;
    height: 2em;
    border: none;
    background: none;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    opacity: 0;
    z-index: 100;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    pointer-events: none;
    -webkit-tap-highlight-color: transparent;
    top: 0.1em;
}

button.next svg {
    max-width: 49%;
    path{
    	fill: rgba(255,255,255,0.5);
    }
}

.next.greenlight{
	svg path{
		fill:rgb(75, 170, 75) !important;
	}
}

.next:hover {
	color: rgba(0,0,0,0.5);
}

.next::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// content: "\f18e";
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 2;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// font-family: FontAwesome;
}

.next.show {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	pointer-events: auto;
}

/* Progress bar */
.simform .progress {
	width: 0%;
	height: 0.05em;
	background: #53b953;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	top: 9px;
    position: relative;
}

.simform .progress::before {
	position: absolute;
	top: auto;
	width: 100%;
	height: inherit;
	background: rgba(0,0,0,0.05);
	content: '';
}

/* Number indicator */
.simform .number {
	position: absolute;
	right: 0;
	overflow: hidden;
	margin: 0.4em 0;
	width: 3em;
	font-weight: 700;
	font-size: 0.4em;
    top: -1.5em;
}

.simform .number:after {
	position: absolute;
	left: 50%;
	content: '/';
	opacity: 0.4;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.simform .number span {
	float: right;
	width: 40%;
	text-align: center;
}

.simform .number .number-current {
	float: left;
}

.simform .number-next {
	position: absolute;
	left: 0;
}

.simform.show-next .number-current {
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.simform.show-next .number-next {
	-webkit-animation: moveUpFromDown 0.4s both;
	animation: moveUpFromDown 0.4s both;
}

/* Error and final message */
.simform .error-message,
.simform .final-message {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  font-style: italic;
  letter-spacing: 1px;
}

.simform .error-message {
	padding: 0.4em 3.5em 0 0;
	width: 100%;
	color: rgba(0,0,0,0.7);
	font-style: italic;
	font-size: 0.4em;
}

.final-message {
	top: 50%;
	left: 0;
	padding: 0.5em;
	width: 100%;
	text-align: center;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.error-message.show,
.final-message.show {
	visibility: visible;
	opacity: 1;
}

.final-message.show {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

/* Final hiding of form / showing message */
.simform-inner.hide {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

/* No JS Fallback */
.no-js .simform {
	font-size: 1.75em;
}

.no-js .questions li {
	padding: 0 0 2em;
}

.no-js .simform .submit {
	display: block;
	float: right;
	padding: 10px 20px;
	border: none;
	background: rgba(0,0,0,0.3);
	color: rgba(0,0,0,0.4);
}

.no-js .simform .controls {
	display: none;
}

/* Remove IE clear cross */
input[type=text]::-ms-clear {
    display: none;
}

/* Adjust form for smaller screens */
@media screen and (max-width: 44.75em) {
	.simform {
		font-size: 1.8em;
	}
}

@media screen and (max-width: 33.5625em) {
	.simform {
		font-size: 1.2em;
	}
}







//=============== chat ===============//
.chat {
  float:left;
  font-size:0.7em;
  background: $dark;
  height: 100vh;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
  padding: 5px;
  padding-top: 0;
  li{list-style:none;}
  .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
    
    img {
      float: left;
      max-width: 5%;
    }
    
    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }
    
    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }
    
    .chat-num-messages {
      color: #ccc;
    }
    
    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }
  
  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    padding-bottom: 13em;
    ul{
    	padding: 0;
    }
    
    .message-data {
      margin-bottom: 15px;
    }
    
    .message-data-time {
      color: rgba(255, 255, 255, 0.39);
      padding-left: 6px;
    }
    
    .message {      
      color: white;
      padding: 1.1em 1.4em;
      line-height: 1.5em;
      font-size: 1.2em;
      border-radius: 0;
      margin-bottom: 2em;
      width: 90%;
      position: relative;
      
      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        border-width: 10px;
        margin-left: -10px;
      }
    }
    
    .my-message {
      background: $green;
    }
    
    .other-message {
      background: lighten($dark, 5%);
      color: #fff;
      
      &:after {
        border-bottom-color: lighten($dark, 5%);
        left: 93%;
      }
    }
    
  }
  
  .chat-message {
    padding: 30px;
	position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    
    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 0;
      resize: none;
      color: #333;
    }
    
    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;
      
    }
    
    button {
      float: right;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      // background: #F2F5F8;
      
      &:hover {
        color: darken($dark, 7%);
      }
    }
  }
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  
.online {
  color: $green;
}
  
.offline {
  color: $red;
}

.me {
  color: $dark;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

























